@import "../../../containers/App/styles/colours.scss";

.fe-wallet__spinner-container {
  display: flex;
  justify-content: center;
  &__content {
    display: block;
    width: 30px;
    height: 30px;
    border: 10px solid $tertiary-base-color;
    border-top: 10px solid $primary-base-color;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}