// Base
$primary-background-color:  #FDFCFF;
$secondary-background-color: #27251f;
$tertiary-background-color: #00000043;
$primary-base-color: #242424;
$secondary-base-color: #FFFFFF;

// CTA
$primary_color: #7908FF;
$primary-cta-color: linear-gradient(90deg, $primary_color 0%, #8B43E0 100%);

// Text
$primary-text-color: #373744;
$secondary-text-color: #A5A7AF;

// Borders
$primary-border-color: #D8D9E2;
