// Base
$primary-background-color: #fdfcff;
$secondary-background-color: #27251f;
$tertiary-background-color: #00000043;
$primary-base-color: #242424;
$secondary-base-color: #ffffff;
$tertiary-base-color: #ebebeb;

// CTA
$primary_color: #7908ff;
$primary-cta-color: linear-gradient(90deg, $primary_color 0%, #8b43e0 100%);

// Text
$primary-text-color: #373744;
$secondary-text-color: #a5a7af;

// Borders
$primary-border-color: #d8d9e2;
