@import '../../../containers/App/styles/colours.scss';

select.fe-wallet__dropdown {
  border: 1px solid $primary-background-color;
  background-color: $primary-background-color;

  &:focus-visible {
    outline: none !important;
  }

  &__balance {
    font-size: 11px;
    color: $secondary-text-color;
  }
}
