.fe-wallet__balance {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  font-weight: 600;
  align-items: flex-end;

  &__symbol {
    margin-right: 0.125rem;
  }
  
  &__amount-desc {
    margin-right: 0.0625rem;
  }
}